<div class = "cardDisplay">
    <h1 class = "heading">Time Entry</h1>
    <div class = "CardHeader">
        <label class = "headerLabel">{{ today | date: 'dd MMMM yyyy' }}</label>
    </div>


    <!-- place an input box with the place holder of :"what are you working on?".
    This will be used as a time entry description  -->
    <div class = "inputDescription">
        <form action="" method="POST" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class = "ApiInput" novalidate >

            <div>
                <label for="name">

                </label>
                <div class = "itemName">
                <input id="name" type="text" formControlName="name" placeholder = {{TextBoxPlaceHolder}} class = "in">
                </div>

            </div>
            <div class = "TaskInfo">
                    <select name="demo" id="ProjectsList" class = "DropDownProjects" (click) = "onProjectClick()">
                        <option selected hidden style="display:none">Project</option>
                        <optgroup label = "Projects"> </optgroup>
                    </select>
                    <label class = "Billable" id = "billable" (click) = "isBillable()" (onload)="codeAddress()">$</label>

            </div>


         <!--   <div lines="none" class = "projects" >
                <label (click) = "onClick()" class = "projectHeading"><fa-icon icon="plus" class = "AddingProjectsBtn"></fa-icon>Projects</label> -->

              <!-- <div class = "projectDiv" id = "myDiv" style="display:none" >
                    <label>Projects</label>
                    <br> -->

              <!--  </div> -->

                <!-- Button used to create a new project -->

          <!--  </div> -->

            <!-- <div class = "BillablePlacement">
                 <label class = "BtnBillable" id = "billable" (click) = "isBillable()">$ Billable</label>
             </div> -->

            <!-- The user will pick a date that they want to make a time entry into.
    A default date will be sent to the current date-->
            <div class = "Date">
                <label position="floating" class = "DateLabel">Date</label>
                <br>
                <input type="date" class ="DatePicked" id = "DatePicked" name="DatePicked" value="{{ today | date: 'HH:mm' }}">
            </div>

            <div class = "StartTime">
                <label position="floating" class = "startTimeLabel">Start Time</label>
                <br>
                <input type="time" class ="StartTimePicked" id = "StartTimePicked" name="StartTimePicked" value="{{ today | date: 'HH:mm' }}">
            </div>

            <div class = "EndTime">
                <label position="floating" class = "endTimeLabel">End Time</label>
                <br>
                <input type="time" class ="EndTimePicked" id = "EndTimePicked" name="EndTimePicked" value="{{ today | date: 'HH:mm' }}" min = "{{ today | date: 'HH:mm' }}">
            </div>


            <button class="AddtoClokifyButton" type="submit">Add to tasks completed</button>

            <div class = "addedToClockifyMessage" id = "Message" style="display:none">
                <label class = "SuccessMessage"> Successfully Added To Clockify </label>
                <br>
                <label class = "ButtonConfirm" (click) = "OkClicked()">OK</label>

            </div>

            <div class = "addedToClockifyMessage" id = "ErrorMessage" style="display:none">
                <label class = "SuccessMessage">{{errorResult}}</label>
                <br>
                <label class = "ButtonConfirm" (click) = "OkClickedOnErrorMessage()">OK</label>

            </div>

        </form>


        <!-- <input placeholder = "What are you working on?" id = "itemName"> -->
    </div>
</div>
