//===================================CONTENT   STYLING======================================================
//Content Display

.heading{
  color :  #193952;
  font-size : 7vw;
  text-align : center;
  border-bottom : 2px solid #E5E7E9;
}


//Setting the card styling
.cardDisplay{
  margin-top:1vw;
  margin-bottom : auto;
  margin-left:10px;
  margin-right:10px;
  animation-duration: 1s;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



//------------------------Card header-------------------------------------
.CardHeader{
     border-radius : 100px;
    background-color : #193952;
    color : #ffff;
    font-size : 18px;
    width : 100%;
    height : auto;
    text-align :center;
    box-shadow: 3px 3px 5px 5px #ccc;
    //margin-top : 5px;
    //Label in the header (Display : date)
    .headerLabel{
        margin-top : 4px;
        animation-duration: 1s;
        animation-name: fadeInUp;
    }
}

.addedToClockifyMessage{
  width : 250px;
    box-shadow: 3px 3px 4px 4px #ccc;
    height : 100px;
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    animation-duration: 1s;
    animation-name: fadeInUp;
    backdrop-filter: blur(5px);
}

.SuccessMessage{
  margin-top : 20px;
  text-align: center;
  color : #193952;
  animation-duration: 1s;
  animation-name: fadeInUp;
}

.ButtonConfirm{
  padding-right : 10px;
  padding-left : 10px;
  color : #193952;
  background-color : #0000;
  border : 2px solid;

}


//------------------------Input box styling-------------------------------------
.itemName{
  margin-top:20px;
  margin-bottom:12px;
  animation-duration: 1s;
  animation-name: fadeInUp;
  margin-left : 20px;
  margin-right: 20px;
  font-size:20px;
  border: 2px solid #EFF0F1;
  box-shadow: 1px 1px 1px 1px #ccc;
  border-radius : 5px;
}

.in{
  border : none;
  width : 80%;
}


.TaskInfo{
  border : none;
  border-top : 2px solid #EFF0F1;
  border-bottom : 2px solid #EFF0F1;
  box-shadow: 1px 1px 1px 1px #ccc;
  margin-left : 20px;
  margin-right : 20px;
  border-radius : 5px;
  blur : 0px;
  overflow-x: auto;
  white-space: nowrap;
}

.DropDownProjects{
  background-color : #ffff;
  border : none;
  width : 100px;
}

.Billable{
  border : none;
  border-left : 2px solid #EFF0F1;
  border-right : 2px solid #EFF0F1;
  margin-top :  10px;
  padding-top : 0px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 0px;
  background-color : #ffff;
  color : #4E4E4E ;
}



//-------------------------Project styling------------------------------------
//Project div style
.projects{
display: flex;
  //border: 2px solid #EFF0F1;
  border-radius: 50px;
  //width:90%;
  height : auto;
  text-align: left;
  margin-left : 5.5%;
  margin-right: auto;
  margin-top:20px;
  margin-bottom:3px;

}

.createAProject{
  textAlign : center;
  width : 100%;
  border-top : 2px solid #EFF0F1;
  background-color : #ffff;
  color : #3FA5F7;
  position:absolute;
  bottom:0;
  left:0;
  box-shadow: 2px 2px 3px 3px #ccc;
}

.ProjectDropDown{
  border : none;
  margin-left : 5.5%;
  margin-right: auto;
  margin-bottom:3px;
}

.projectHeading{
  color : #3FA5F7;
}

.projectDiv{

  position: absolute;
  margin-top : 20px;
  background-color : #ffff;
  border : 2px solid #EFF0F1;
  width : 300px;
  height : 150px;
  box-shadow: 2px 2px 2px 2px #ccc;
}


.DropDownProjects{
  border : none;
}

//-------------------------Adding project button styling------------------------------------
.AddingProjectsBtn{
  margin-left : 5px;
  margin-right : 5px;
  border: 2px solid #ffff;
  border-radius: 100px;
  background-color : #ffff;
  color : #3FA5F7;

}


//------------------------Billable styling-------------------------------------
//Billable div style
.BillablePlacement{
  display: flex;
  // border: 2px solid #EFF0F1;
  border-radius: 50px;
 // width:90%;
  height : auto;

  // Aligning text
  text-align: left;
  margin-left : 5.5%;
  margin-right: auto;
  margin-top:20px;
  margin-bottom:3px;
}


//------------------------Date Picker------------------------------------
//Date div styling
.Date{
  margin-left : 5.5%;
  margin-right: auto;
  margin-top:20px;
  margin-bottom:3px;
  border-bottom : 0.5px solid #E5E7E9;
}

//Date picked
.DatePicked{
  margin-left : 20px;
  background-color : #ffff;
  border : none;
  margin-bottom : 5px;
}


//------------------------Start time picker-------------------------------------
//start time div styling
.StartTime{
  margin-left : 5.5%;
  margin-right: auto;
  margin-top:20px;
  margin-bottom:3px;
  border-bottom : 0.5px solid #E5E7E9;
}

//Start time picked
.StartTimePicked{
    background-color : #ffff;
    margin-left : 20px;
    border : none;
    margin-bottom : 5px;
}


//-------------------------End time picker------------------------------------
//end time div styling
.EndTime{
  margin-left : 5.5%;
  margin-right: auto;
  margin-top:20px;
  margin-bottom:3px;
  border-bottom : 0.5px solid #E5E7E9;
}

//End time picked
.EndTimePicked{
    margin-left : 20px;
    background-color : #ffff;
    border : none;
    margin-bottom : 5px;
}


//-------------------------Button to add to clokify styling------------------------------------
.AddtoClokifyButton{
    border-radius : 20px;
    background-color : #193952;
    font-size : 18px;
    width : 90%;
    height : auto;
    margin-top : 25px;
    color : #ffff;
    left: 50%;
    position: relative;
    transform: translate(-50%, -25%);
    box-shadow: 2px 2px 2px 2px #ccc;
}

