@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

//===================================   FOOTER   STYLING   ======================================================
.footerBottom{
    position: fixed;
    bottom: 0px;
    width : 95%;
    border-top : 2px solid;
    border-color: #E5E7E9;
    color: #E5E7E9;
}

//--------------------------Text in footer-----------------------------------
h4{
    font-size: 20px;
    text-align : center;
}



/* ==========================================================================
Navbar
========================================================================== */

.NavBarColour{
    background-color: #3FA5F7 ;


}

.navbar-version {
  font-size: 0.65em;
  color: #0000;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: #3FA5F7 ;
  }

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }

  .navbar-toggler {
    &:hover {
      color: $navbar-dark-hover-color;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/logo-jhipster.png') no-repeat center center;
  background-size: contain;
}
