<div clas  = "ContentCard">
<div class = "content" id = "SignInPage">
    <!--Placing the heading
        value = "login to your clokify account -->
    <div  class = "head">
        <label class = "HeadingToLogin">Login To Clokify </label>

        <!--place clokify logo-->
        <img src = "../../content/images/logo.png" class = "image">
    </div>





    <!-- Creating an input box for the user to enter their Clokify Api key  -->
    <div class = "inputApi">

        <form action="" method="POST" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class = "ApiInput" novalidate >

            <div>
                <label for="name">

                </label>
                <input id="name" type="password" formControlName="name" placeholder = {{TextBoxPlaceHolder}}>
            </div>




            <button class="SignInButton" type="submit">Sign In</button>
            <div class = "addedToClockifyMessage" id = "Message" style="display:none">
                <label class = "SuccessMessage"> Connected to Clockify </label>
                <br>
                <label class = "ButtonConfirm" (click) = "OkClicked()">OK</label>

            </div>

        </form>


      <!--  <input type = "password" placeholder = "Enter API Key" id = "ApiKey" value = "" class = "ApiInput"> -->
    </div>

    <!-- Button to verify user  -->
    <!-- <div class = "Signin">
        <button class="SignInButton" (click)="SignIn()">Sign In</button>
    </div> -->


    <!-- Link to go to their Clokify account when clicked
    used if the user needs to get their Api key-->
    <div>
        <label class = "invalid" id = "invalidMessage" style="display:none">Invalid Api Key</label>
    </div>
    <div class="forgot">
        <label class="main">Forgot Api key?</label>
        <label class="ForgotApi" (click)="GotoClokifyAccount()"> Go to your Clokify Account</label>
    </div>


</div>

    <div id = "SignOutPage" class = "SignOutPage">
        <label class = "LoggedInHeading">Account</label>
        <br>
        <div class = "Account">
            <div class = "ApiDiv">
                <label class = "ApiKey">Api Key: </label>
                <label id = "Api" class = "apiKeyStyle">{{Api}}</label>
                <label id = "visible" (click) = "ShowAndHide()" class = "ShowAndHide"><fa-icon icon="eye"></fa-icon></label>
            </div>
           <!-- <label id = "ShowAndHide" class = "ShowAndHide" (click) = "ShowAndHide()"></label> -->
            <div class = "UserIdDiv">
                <label class = "UserID">User ID:</label>
                <label id = "User">{{result}}</label>
            </div>

            <div class = "workspaceIdDiv">
                <label class = "WorkspaceID">Workspace ID:</label>
                <label id = "workspace">{{workspace}}</label>
            </div>
            <button (click) = "SignOut()" class = "SignOutButton">Sign Out</button>
        </div>

    </div>

</div>

