.addedToClockifyMessage{
  width : 250px;
  box-shadow: 3px 3px 4px 4px #ccc;
  height : 100px;
  // background-color : #193952;
  // border : 2px solid;
  position : absolute;
  top : 40%;
  left : 50%;
  transform: translate(-50%, -40%);
  text-align: center;
  animation-duration: 1s;
  animation-name: fadeInUp;
  backdrop-filter: blur(20px);

}

.SuccessMessage{
  margin-top : 20px;
  text-align: center;
  color : #193952;
  animation-duration: 1s;
  animation-name: fadeInUp;
}

.ButtonConfirm{
  padding-right : 10px;
  padding-left : 10px;
  color : #ffff;
  background-color : #0000;
  border : 2px solid;

}

.invalid{
  color : #FC0000;
  position: fixed;
  top: 65%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  margin-bottom: 10px;
  font-size : 15px;
  font-weight: bold;
  animation-duration: 1s;
  animation-name: shake;


}

@keyframes shake {
  10%, 90% {
      transform: translate(-50px, -12px) rotate(0deg);
    }

    20%, 80% {
      transform: translate(-50px, -12px) rotate(3deg);
    }

    30%, 50%, 70% {
      transform:translate(-50px, -12px)  rotate(0deg);
    }

    40%, 60% {
      transform:translate(-50px, -12px)  rotate(3deg);
    }
}

.SignOutPage{
  animation-duration: 3s;
   animation-name: fadeInUp;

}

.LoggedInHeading{
  font-size : 30px;
  color : #193952;
  margin-bottom : 5px;
}

.ShowAndHide{
  position : relative;
  margin-right : 10px;

  text-align: right;
      clear: both;
      float:right;
}

.ApiDiv{
  border-bottom : 2px solid #EFF1F1;
}
.UserIdDiv{
  border-bottom : 2px solid #EFF1F1;
}



.Account{
  border : 0.5px solid #ccc;
  border-radius : 10px;
  box-shadow: 2px 2px 2px 2px #8BDBFD;
  padding : 10px;
}

.SignOutButton{
  background-color : #193952;
  color : #ffff;
  text-align :center;
  border-radius : 10px;
  padding-right : 5px;
  padding-left : 5px;
}


.ContentCard{
animation-duration: 3s;
 animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//--------------------------input API key (input for the Api key)-----------------------------------
input{
    font-size:20px;
    border: 2px solid #EFF0F1;
    border-radius: 50px;
    width:100%;
    text-align: center;
    margin-bottom:8px;
    animation-duration: 1s;
     animation-name: fadeInUp;
}

//---------------------------Sign in Div----------------------------------
.Signin{
    text-align: center;
    float: left;
        margin-top : 10%;
        width : 50%;
        position: fixed;
        top: 57%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
        margin-bottom: 10px;
}

//--------------------------sign in button-----------------------------------
.SignInButton{
    //background colour
    background-color : #193952;
    //styling the button
    border-radius : 50px;
    width:100%;
    height : 9%;
    animation-duration: 1s;
         animation-name: fadeInUp;



    //text colour
    font-size : 20px;
    color: #ffff ;
}

//--------------------------link when you forgot your Api-----------------------------------
.forgot{
    text-align :center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
            margin-top : 10%;
            width : 50%;
            position: fixed;
            top: 62%;
            left: 50%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
            margin-bottom: 10px;
            animation-duration: 1s;
                 animation-name: fadeInUp;

    //styling for the link to click
    .ForgotApi{
        font-size:9px;
        color: #0328EE;
        animation-duration: 1s;
             animation-name: fadeInUp;
    }

    //styling for (Forgot Api key?)
    .main{
        font-size:9px;
    }
}

.image{
      width: 25%;
      height: auto;
      position: fixed;
      top: 40%;
      left: 50%;
      /* Centering */
      transform: translate(-50%, -25%);
      margin-bottom: 10px;
      //filter: blur(5px);
       // -webkit-filter: blur(5px);
       animation-duration: 1s;
            animation-name: fadeInUp;
}
.image1{
      width: 35%;
      height: auto;
      position: fixed;
      top: 40%;
      left: 50%;
      /* Centering */
      transform: translate(-50%, -25%);
      margin-bottom: 10px;
      //filter: blur(5px);
       // -webkit-filter: blur(5px);
       animation-duration: 1s;
            animation-name: fadeInUp;
}

//------------------ button clicked ------------------
.button{
    /*position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 10px;*/
}

//------------------ heading ------------------
.HeadingToLogin{
    z-index: 10;
        position: absolute;
    //font-size : 20px;
    font-size : 5vw;
    color : #193952;
    font-weight: bold;
    position: fixed;
    top: 30%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -25%);
    margin-bottom: 10px;
    animation-duration: 1s;
         animation-name: fadeInUp;
}

//------------------ Input box ------------------
.ApiInput{
    float: left;
    margin-top : 10%;
    width : 50%;
    position: fixed;
    top: 49%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    margin-bottom: 10px;
    animation-duration: 1s;
         animation-name: fadeInUp;
}

/* ==========================================================================
Main page styles
========================================================================== */


.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
    background-size: contain;
  }
}


