<nav class="navbar">

    <a class="navbar-toggler" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
        <fa-icon icon="bars"></fa-icon>
        <span class="navbar-title">TA</span>
    </a>

</nav>
<div class="navbar-collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
    <ul class="navbar-nav">
        <br>
        <h2>Timesheet Assistant</h2>
        <br>
        <!-- <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                <span>
                    <fa-icon icon="home"></fa-icon>
                    <span>Home</span>
                </span>
            </a>
        </li> -->
        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <div class = "timeEntryDiv">
        <a class = "timeEntryHeading" (click) = "DisplayTimeEntryOptions()"> Time Entry </a>
            <br>
            <a href="/entry" class = "links" style="display:none" id = "Display" >Manual Time Entry</a>
            <a class = "links" style="display:none" id = "Display1" routerLink="admin/metrics" routerLinkActive="active" >Scheduling Time Entry</a>
        </div>

        <div class = "SignInDiv">
        <a href="/home" class = "links" id = "Account"><fa-icon icon="user"></fa-icon> {{AccountOptions}}</a>
        </div>


      <!--  <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">
                <span>
                    <fa-icon icon="user-plus"></fa-icon>
                    <span>Administration</span>
                </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
                <li>
                    <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                        <span>Metrics</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                        <span>Health</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
                        <span>Configuration</span>
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                        <span>Logs</span>
                    </a>
                </li>
                <li *ngIf="swaggerEnabled">
                    <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                        <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                        <span>API</span>
                    </a>
                </li>
                <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here
            </ul>
        </li> -->
       <!-- <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu">
                <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span>
                        Account
                    </span>
                </span>
                <span *ngIf="getImageUrl()">
                    <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                </span>
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                <li *ngSwitchCase="true">
                    <a class="dropdown-item" (click)="logout()" id="logout">
                        <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                        <span>Sign out</span>
                    </a>
                </li>
                <li *ngSwitchCase="false">
                    <a class="dropdown-item" (click)="login()" id="login">
                        <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                        <span>Sign in</span>
                    </a>
                </li>
            </ul>
        </li> -->
    </ul>
</div>
