@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/flatly/variables';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

// creating lines between the menu items
.timeEntryDiv{
  border-bottom : 2px solid;
  border-color: #E5E7E9;
}
.SignInDiv{
  border-bottom : 2px solid;
  border-color: #E5E7E9;
}

//---------- menu heading (Timesheet Assistant)  ----------
h2{
    margin-left : 15px;
    font-weight: bolder;
    color : #193952;
    font-size : 30px;
}

//---------- menu items links to pages  ----------
.links{
    padding-left : 20px;
    margin-left : 5px;
    color : #193952;
    font-size : 20px;

}

.ItemList{
// margin-left : 5px;

}

.navbar-collapse{
    z-index: 50;
    position: absolute;
    width : 300px;;
    height : 695px;;
    color : #193952;
    background-color: #ffff;
    font-size : 20px;

}

.nav-link dropdown-toggle{
    margin-bottom : 0px;
}
.navbar-title{
  color : #193952;
}

.timeEntryHeading{
margin-left : 5px;
}

.navbar-toggler{
color : #193952;
}
.navbar-version {
  font-size: 0.65em;
  color: $navbar-dark-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  background-color: #3FA5F7;
  height : 100%;
  padding: 0.2rem 1rem;
  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
  background-color: #3FA5F7;
  }

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    font-weight: 400;
  }

  .navbar-toggler {
    &:hover {
      color: #193952;;
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 45px;
  width: 45px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/favicon.png') no-repeat center center;
  background-size: contain;
}
