<!-- <div>
    <h2>
        <span id="metrics-page-heading">Application Metrics</span>

        <button class="btn btn-primary float-right" (click)="refresh()">
            <fa-icon icon="sync"></fa-icon> <span>Refresh</span>
        </button>
    </h2>

    <h3>JVM Metrics</h3>

    <div class="row" *ngIf="metrics && !updatingMetrics">
        <jhi-jvm-memory
            class="col-md-4"
            [updating]="updatingMetrics"
            [jvmMemoryMetrics]="metrics.jvm">
        </jhi-jvm-memory>

        <jhi-jvm-threads
            class="col-md-4"
            [threadData]="threads">
        </jhi-jvm-threads>

        <jhi-metrics-system
            class="col-md-4"
            [updating]="updatingMetrics"
            [systemMetrics]="metrics.processMetrics">
        </jhi-metrics-system>
    </div>

    <div *ngIf="metrics && metricsKeyExists('garbageCollector')">
        <h3>Garbage collector statistics</h3>

        <jhi-metrics-garbagecollector
            [updating]="updatingMetrics"
            [garbageCollectorMetrics]="metrics.garbageCollector">
        </jhi-metrics-garbagecollector>
    </div>

    <div class="well well-lg" *ngIf="updatingMetrics">Updating...</div>

    <jhi-metrics-request
        *ngIf="metrics && metricsKeyExists('http.server.requests')"
        [updating]="updatingMetrics"
        [requestMetrics]="metrics['http.server.requests']">
    </jhi-metrics-request>

    <jhi-metrics-endpoints-requests
        *ngIf="metrics && metricsKeyExists('services')"
        [updating]="updatingMetrics"
        [endpointsRequestsMetrics]="metrics.services">
    </jhi-metrics-endpoints-requests>

    <jhi-metrics-cache
        *ngIf="metrics && metricsKeyExists('cache')"
        [updating]="updatingMetrics"
        [cacheMetrics]="metrics.cache">
    </jhi-metrics-cache>

    <jhi-metrics-datasource
        *ngIf="metrics && metricsKeyExistsAndObjectNotEmpty('databases')"
        [updating]="updatingMetrics"
        [datasourceMetrics]="metrics.databases">
    </jhi-metrics-datasource>
</div> -->

<div class = "cardDisplay">
    <h4 class = "heading">Scheduling Time entry</h4>
    <div class = "CardHeader">
        <label class = "headerLabel">{{ today | date: 'dd MMMM yyyy' }}</label>

    </div>

    <div class = "Dates" id = "DatesPicked">
        <h6 position="floating" class = "dateHeading">Enter a date for your time entries</h6>
        <input type="date" class ="DatesIn"  name="StartTimePicked" id = "dateChosen">
        <label style="display:none" id = "errorMessage" class = "error">Enter a valid date</label>
        <button class = "okDateButton" (click) = "DatePicked()">OK</button>
    </div>

    <div class = "addedToClockifyMessage" id = "Message" style="display:none">
        <label class = "SuccessMessage"> Successfully Added To Clockify </label>
        <br>
        <label class = "ButtonConfirm" (click) = "OkClicked()">OK</label>

    </div>

    <div class = "addedToClockifyMessage" id = "ErrorResultMessage" style="display:none">
        <label class = "SuccessMessage">{{ErrorResult}}</label>
        <br>
        <label class = "ButtonConfirm" (click) = "OkClickedOnError()">OK</label>

    </div>

    <div class = "addedToClockifyMessage" id = "MessageRemove" style="display:none">
        <label class = "SuccessMessage">Remove all time entries from schedule</label>
        <br>
        <label class = "ButtonConfirmRemove" (click) = "remove()">OK</label>
        <label class = "ButtonCancel" (click) = "cancel()">Cancel</label>

    </div>



    <div class="calender" >
        <div class = "StartTime">
            <label (click) = "PreviousDay()" id ="PreviousDay" class = "PreviousDay" ><span>&lt;</span></label>
            <input type="date" class ="StartTimePicked" id = "DatePicked" name="StartTimePicked" value={{datePicked}} disabled>
            <div class = "NextDiv">
            <label (click) = "Next()" id = "NextDay" class = "NextDay" ><span>&gt;</span></label>
            </div>
        </div>
        <br>

        <div class = "TaskInputDiv">
        <input type="text"  placeholder = " What are you working on? " class = "itemName" id ="tasks" value = "" disabled>
        </div>
        <div class = "TaskInfo">
     <!--   <button (click) = "onClick()" class = "projectHeading" id = "Project" disabled><fa-icon icon="plus" class = "AddingProjectsBtn"></fa-icon>Projects</button> -->

            <select (click) = "onClick()" name="demo" id="ProjectsList" class = "DropDownProjects" disabled >
              <option selected hidden style="display:none">Project</option>
                <optgroup label = "Projects"> </optgroup>
             </select>

            <label class = "Billable" id = "billable" (click) = "isBillable()" (onload)="codeAddress()">$</label>

            <button (click) = "ClearInput()" id = "btnNext" class = "btnNextTask" disabled>Next tasks</button>

          <!--  <button class = "DeleteEntries" id = "remove" (click) = "RemoveEntries()" disabled> <fa-icon icon="times" ></fa-icon> Delete Entries</button> -->

        </div>




        <br>
        <table class = "schedule">
            <tr>
                <th class = "time">7:00</th>
                <th class = "task" (click) = "Clicked7()" id = "7">{{seven}}</th>
            </tr>
            <tr>
                <th class = "time">7:15</th>
                <th class = "task" (click) = "Clicked715()" id = "715">{{sevenFifteen}}</th>
            </tr>
            <tr>
                <th class = "time">7:30</th>
                <th class = "task" (click) = "Clicked730()" id = "730">{{sevenThirty}}</th>
            </tr>
            <tr>
                <th class = "time">7:45</th>
                <th class = "task" (click) = "Clicked745()" id = "745">{{sevenFortyFive}}</th>
            </tr>
            <tr>
                <th class = "time">8:00</th>
                <th class = "task" (click) = "Clicked8()" id = "8">{{eight}}</th>
            </tr>
            <tr>
                <th class = "time">8:15</th>
                <th class = "task" (click) = "Clicked815()" id = "815">{{eightFifteen}}</th>
            </tr>
            <tr>
                <th class = "time">8:30</th>
                <th class = "task" (click) = "Clicked830()" id = "830">{{eightThirty}}</th>
            </tr>
            <tr>
                <th class = "time">8:45</th>
                <th class = "task" (click) = "Clicked845()" id = "845">{{eightFortyFive}}</th>
            </tr>
            <tr>
                <th class = "time">9:00</th>
                <th class = "task" (click) = "Clicked9()" id = "9">{{nine}}</th>
            </tr>
            <tr>
                <th class = "time">9:15</th>
                <th class = "task" (click) = "Clicked915()" id = "915">{{nineFifteen}}</th>
            </tr>
            <tr>
                <th class = "time">9:30</th>
                <th class = "task" (click) = "Clicked930()" id = "930">{{nineThirty}}</th>
            </tr>
            <tr>
                <th class = "time">9:45</th>
                <th class = "task" (click) = "Clicked945()" id = "945">{{nineFortyFive}}</th>
            </tr>
            <tr>
                <th class = "time">10:00</th>
                <th class = "task" (click) = "Clicked10()" id = "10">{{ten}}</th>
            </tr>
            <tr>
                <th class = "time">10:15</th>
                <th class = "task" (click) = "Clicked1015()" id = "1015">{{tenFifteen}}</th>
            </tr>
            <tr>
                <th class = "time">10:30</th>
                <th class = "task" (click) = "Clicked1030()" id = "1030">{{tenThirty}}</th>
            </tr>
            <tr>
                <th class = "time">10:45</th>
                <th class = "task" (click) = "Clicked1045()" id = "1045">{{tenFortyFive}}</th>
            </tr>
            <tr>
                <th class = "time">11:00</th>
                <th class = "task" (click) = "Clicked11()" id = "11">{{eleven}}</th>
            </tr>
            <tr>
                <th class = "time">11:15</th>
                <th class = "task" (click) = "Clicked1115()" id = "1115">{{elevenFifteen}}</th>
            </tr>
            <tr>
                <th class = "time">11:30</th>
                <th class = "task" (click) = "Clicked1130()" id = "1130">{{elevenThirty}}</th>
            </tr>
            <tr>
                <th class = "time">11:45</th>
                <th class = "task" (click) = "Clicked1145()" id = "1145">{{elevenFortyFive}}</th>
            </tr>
            <tr>
                <th class = "time">12:00</th>
                <th class = "task" (click) = "Clicked12()" id = "12">{{twelve}}</th>
            </tr>
            <tr>
                <th class = "time">12:15</th>
                <th class = "task" (click) = "Clicked1215()" id = "1215">{{twelveFifteen}}</th>
            </tr>
            <tr>
                <th class = "time">12:30</th>
                <th class = "task" (click) = "Clicked1230()" id = "1230">{{twelveThirty}}</th>
            </tr>
            <tr>
                <th class = "time">12:45</th>
                <th class = "task" (click) = "Clicked1245()" id = "1245">{{twelveFortyFive}}</th>
            </tr>
            <tr>
                <th class = "time">13:00</th>
                <th class = "task" (click) = "Clicked13()" id = "13">{{thirteen}}</th>
            </tr>
            <tr>
                <th class = "time">13:15</th>
                <th class = "task" (click) = "Clicked1315()" id = "1315">{{thirteenFifteen}}</th>
            </tr>
            <tr>
                <th class = "time">13:30</th>
                <th class = "task" (click) = "Clicked1330()" id = "1330">{{thirteenThirty}}</th>
            </tr>
            <tr>
                <th class = "time">13:45</th>
                <th class = "task" (click) = "Clicked1345()" id = "1345">{{thirteenFortyFive}}</th>
            </tr>
            <tr>
                <th class = "time">14:00</th>
                <th class = "task" (click) = "Clicked14()" id = "14">{{fourteen}}</th>
            </tr>
            <tr>
                <th class = "time">14:15</th>
                <th class = "task" (click) = "Clicked1415()" id = "1415">{{fourteenFifteen}}</th>
            </tr>
            <tr>
                <th class = "time">14:30</th>
                <th class = "task" (click) = "Clicked1430()" id = "1430">{{fourteenThirty}}</th>
            </tr>
            <tr>
                <th class = "time">14:45</th>
                <th class = "task" (click) = "Clicked1445()" id = "1445">{{fourteenFortyFive}}</th>
            </tr>
            <tr>
                <th class = "time">15:00</th>
                <th class = "task" (click) = "Clicked15()" id = "15">{{fifteen}}</th>
            </tr>
            <tr>
                <th class = "time">15:15</th>
                <th class = "task" (click) = "Clicked1515()" id = "1515">{{fifteenFifteen}}</th>
            </tr>
            <tr>
                <th class = "time">15:30</th>
                <th class = "task" (click) = "Clicked1530()" id = "1530">{{fifteenThirty}}</th>
            </tr>
            <tr>
                <th class = "time">15:45</th>
                <th class = "task" (click) = "Clicked1545()" id = "1545">{{fifteenFortyFive}}</th>
            </tr>
            <tr>
                <th class = "time">16:00</th>
                <th class = "task" (click) = "Clicked16()" id = "16">{{sixteen}}</th>
            </tr>
            <tr>
                <th class = "time">16:15</th>
                <th class = "task" (click) = "Clicked1615()" id = "1615">{{sixteenFifteen}}</th>
            </tr>
            <tr>
                <th class = "time">16:30</th>
                <th class = "task" (click) = "Clicked1630()" id = "1630">{{sixteenThirty}}</th>
            </tr>
            <tr>
                <th class = "time">16:45</th>
                <th class = "task" (click) = "Clicked1645()" id = "1645">{{sixteenForthFive}}</th>
            </tr>
            <tr>
                <th class = "time">17:00</th>
                <th class = "task" (click) = "Clicked17()" id = "17">{{seventeen}}</th>
            </tr>
            <tr>
                <th class = "time">17:15</th>
                <th class = "task" (click) = "Clicked1715()" id = "1715">{{seventeenFifteen}}</th>
            </tr>
        </table>
        <button class = "ButtonAdd" (click) = "Add()" id ="btnAdd" disabled>Add to Clockify</button>
        <br>
        <br>
        <br>

    </div>


</div>

