.addedToClockifyMessage{
    top : 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px 2px #ccc;
    backdrop-filter: blur(10px);
    width : 350px;
    height : 200px;
   // animation-duration: 0.5s;
   // animation-name: fade;
    border-radius : 5px;
    z-index: 15;
}

.SuccessMessage{
  text-align : center;
  top : 30%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  margin-bottom : 5px;
  margin-top : 20px;
  color : #193952;
  animation-duration: 1s;
  animation-name: fadeInUp;
}

.ButtonConfirm{
    top : 70%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px 2px #ccc;
    margin-top : 5px;
    border-radius : 50px;
    border : 2px solid #193952;
    background-color : #193952;
    color : #ffff;
    padding-right : 5px;
    padding-left : 5px;
    animation-duration: 2s;
    animation-name: fade;
}

.ButtonCancel{
    top : 70%;
    left: 60%;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px 2px #ccc;
    margin-top : 5px;
    border-radius : 50px;
    border : 2px solid #193952;
    background-color : #193952;
    color : #ffff;
    padding-right : 5.5px;
    padding-left : 5.5px;
    animation-duration: 2s;
    animation-name: fade;
}

.ButtonConfirmRemove{
    top : 70%;
    left: 40%;
    position: fixed;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px 2px #ccc;
    margin-top : 5px;
    border-radius : 50px;
    border : 2px solid #193952;
    background-color : #193952;
    color : #ffff;
    padding-right : 15px;
    padding-left : 15px;
    animation-duration: 2s;
    animation-name: fade;
}

.StartTime{
  background-color : #E5E7E9;
  box-shadow: 3px 3px 4px 4px #ccc;
  border-bottom : 2px solid #E5E7E9;
   text-align : center;
  height : 50px;
  position : relative;
}

.StartTimePicked{
  border : none;
  text-align : center;
  padding-top : 10px;
  background-color : #E5E7E9;
}

.schedule{
  margin-left : 10px;
  margin-right : 10px;
  border-radius : 5px;
  box-shadow: 3px 3px 4px 4px #ccc;
}

.DeleteEntries{
  background-color : #ffff;
  border : none;
  font-size : 12px;
  color : #FF1D02;
  margin-left : 20px;
}

.Dates{
  top : 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 2px 2px #ccc;
  backdrop-filter: blur(10px);
  width : 85vw;
  height : 200px;
 // animation-duration: 0.5s;
 // animation-name: fade;
  border-radius : 5px;
  z-index: 20;

}


@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
      opacity: 0.25;
    }
    50% {
        opacity: 0.5;
      }
      75% {
          opacity: 1;
        }

  100% {
    opacity: 1;
  }
}


.dateHeading{
  text-align : center;
  top : 30%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  margin-bottom : 5px;
  font-size : 15px;
  color : #193952;
  animation-duration: 2s;
  animation-name: fade;

}

.PreviousDay{
  position: absolute;
  left: 10px;
  border : none;
  padding-top : 19.5px;
  background-color : #E5E7E9;
  font-size : 20px;
}

.NextDiv{
  position: absolute;
  top : 20%;
  right: 20px;
  font-size : 20px;

}
.NextDay{
  position : absolute;
  border : none;
  text-align : right;
  padding-top : 10px;
  background-color : #E5E7E9;

}

.okDateButton{
  top : 70%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 2px 2px #ccc;
  margin-top : 5px;
  border-radius : 50px;
  border : 2px solid #193952;
  background-color : #193952;
  padding-left : 10px;
  padding-right : 10px;
  color : #ffff;
  animation-duration: 2s;
  animation-name: fade;

}

.DatesIn{
  margin-top : 5px;
  text-align : center;
  top : 45%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 2px 2px #ccc;
  border : none;
  backdrop-filter: blur(50px);
  color : #000000;
  animation-duration: 2s;
  animation-name: fade;
  border-radius : 5px;

}

.error{
    top : 60%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    font-size : 12px;
    color : #FA1207 ;
    background-color : #ffff;
    animation-duration: 1s;
    animation-name: shake;
}

@keyframes shake {
  10%, 90% {
      transform: translate(-45px, -8px) rotate(0deg);
    }

    20%, 80% {
      transform: translate(-45px, -8px) rotate(3deg);
    }

    30%, 50%, 70% {
      transform:translate(-45px, -8px)  rotate(0deg);
    }

    40%, 60% {
      transform:translate(-45px, -8px)  rotate(3deg);
    }
}

.itemName{
  font-size:20px;
  border: 2px solid #EFF0F1;
 // border-radius: 50px;
  width : 100%;
  box-shadow: 2px 2px 2px 2px #ccc;
  border-radius : 5px;

}

.TaskInputDiv{
margin-left : 10px;
  margin-right : 10px;
  margin-bottom : 10px;


}



.TaskInfo{
  border : none;
  border-top : 2px solid #EFF0F1;
  border-bottom : 2px solid #EFF0F1;
  box-shadow: 1px 1px 1px 1px #ccc;
  margin-left : 10px;
  margin-right : 10px;
  border-radius : 5px;
  blur : 0px;
  overflow-x: auto;
  white-space: nowrap;
}

.projectHeading{
  border : none;
  padding-top : 5px;
  padding-left : 10px;
  padding-right : 20px;
  margin-left : 10px;
  background-color : #ffff;
  color : #3FA5F7 ;
}

.AddingProjectsBtn{
  margin-right : 5px;
}

.projectDiv{
position: absolute;
  margin-top : 10px;
  background-color : #ffff;
  border : 2px solid #EFF0F1;
  width : 300px;
  height : 150px;
  box-shadow: 2px 2px 2px 2px #ccc;
}

.DropDownProjects{
  background-color : #ffff;
  border : none;
  width : 100px;
}

.btnNextTask{
  margin-left : 20px;
  padding-left : 10px;
  padding-right : 10px;
  border : none;
  color : #ffff ;
  background-color : #3FA5F7 ;
  border-radius : 5px;
}

.Billable{
  border : none;
  border-left : 2px solid #EFF0F1;
  border-right : 2px solid #EFF0F1;
  margin-top :  10px;
  padding-top : 0px;
  padding-left : 20px;
  padding-right : 20px;
  padding-bottom : 0px;
  background-color : #ffff;
  color : #4E4E4E ;
}

tr{
  border : 2px solid #E5E7E9;
  border-style : inset;
  margin-left : 20px;
}

.time{
  border : 2px solid #E5E7E9;
  background : #E5E7E9;
  box-shadow: 3px 3px 4px 4px #ccc;
  padding-left : 10px;
  padding-right : 10px;
  border-style-bottom : inset;
}
.task{
  padding-left : 20px;
  width : 100%;
  border : 2px solid #E5E7E9;
}


.ButtonAdd{
    text-align : center;
    border-radius : 20px;
    background-color : #193952;
    font-size : 18px;
    width : 200px;
    height : auto;
    margin-top : 25px;
    color : #ffff;
    left: 50%;
    position: relative;
    transform: translate(-50%, -25%);
    box-shadow: 2px 2px 2px 2px #ccc;
}

.heading{
  color :  #193952;
  font-size : 30px;
  text-align : center;
  border-bottom : 2px solid #E5E7E9;
}

//Setting the card styling
.cardDisplay{
  margin-top:1vw;
  margin-bottom : auto;
  margin-left:10px;
  margin-right:10px;
  animation-duration: 1s;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

//------------------------Card header-------------------------------------
.CardHeader{
     border-radius : 100px;
    background-color : #193952;
    color : #ffff;
    font-size : 18px;
    width : 100%;
    height : auto;
    text-align :center;
    //margin-top : 5px;
    //Label in the header (Display : date)
    .headerLabel{
        margin-top : 4px;
        animation-duration: 1s;
         animation-name: fadeInUp;
    }
}

.calender{
    margin-top : 3%;
    box-shadow: 3px 3px 4px 4px #ccc;
    height : 100%;
    border-radius : 5px;
}
